# Необхідно створити файл .env.neon на основі цього прикладу та заповнити відповідні значення.
# Neon Tech Postgres DB
DB_HOST=ep-twilight-хат-ag8puxhq-pooler.c-2.eu-central-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=your_password_here
DB_SSLMODE=require
DB_CHANNEL_BINDING=require